pybullet==3.2.5
numpy==1.23.4
scipy==1.10.0
urdf-parser-py
pandas==1.5.1
argparse
PyYAML
matplotlib==3.6.0
tqdm
pytest
networkx
seaborn==0.12.1
icecream
pydot
git+https://github.com/pucrs-automated-planning/pddl-parser@e7f68b#egg=pddl_parser
